<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">

      <div class="formInput">
        <input type="text" v-model="searchForm" placeholder="ketikkan kata kunci" />
      </div>

      <div class="bookList">
        <ul v-for="books in searchResult">
          <li>{{ books }}</li>
        </ul>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          books: [
            "Kalkulus Dasar",
            "Fisika Dasar",
            "Aljabar Linier Elementer",
            "Aljabar Abstrak",
            "Algoritma Pemrograman",
          ],
          searchForm: "",
        },
        computed: {
          searchResult() {
            let tempBooks = this.books;

            if (this.searchForm != "" && this.searchForm) {
              tempBooks = tempBooks.filter((item) => {
                return item
                  .toLowerCase()
                  .includes(this.searchForm.toLowerCase());
              });
            }
            return tempBooks;
          },
        },
      });
    </script>
  </body>
</html>
