<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Quiz 5</title>
  </head>
  <body>
    <div id="app">

	<div class="formInput">
		<input type="text" :value="formUser" @input="formUser = $event.target.value">
		<button @click="addUser" v-if="!buttonEditStatus">Add</button>
		<button @click="updateUser" v-if="buttonEditStatus">Update</button>
	</div>

      <div class="userList">
        <ul v-for="(user, index) in reverseUsers">
          <li :key="index">
            {{ user.name }} ||
            <button @click="editUser(index)">Edit</button>
            <button @click="deleteUser(index)">Delete</button>
          </li>
        </ul>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      let vm = new Vue({
        el: "#app",
        data: {
          users: [
            { name: "Muhammad Iqbal Mubarok" },
            { name: "Ruby Purwanti" },
            { name: "Faqih Muhammad" },
          ],
          formUser:'',
		  buttonEditStatus: false,
		  idSelected : null
        },

		//ketika kita ingin membangun sebuah data, dimana data tsb disusun dari data yang lain, maka sebaiknya digunakan fungsi computed
		computed:{
			reverseUsers : {
				get : function(){
					return this.users.slice().reverse()
				},
				set : function(value){
					this.users = value.slice().reverse()
				}
			}
		},
        methods: {
			addUser : function(){
				this.users.push(
					{name : this.formUser}
				)
				this.formUser = ''
			},
			editUser : function(id){
				this.formUser = this.reverseUsers[id].name
				this.buttonEditStatus = true
				this.idSelected = id
			},
			updateUser : function(){
				this.reverseUsers[this.idSelected].name = this.formUser
				this.formUser = ''
				this.buttonEditStatus = false
			},
			deleteUser : function(id){
				let confirmation = confirm("Apakah Anda Yakin?")

				if(confirmation){
					this.reverseUsers = this.reverseUsers.filter( function(item, index){
						return index != id
					}) 
				}
			}
		},
      });
    </script>
  </body>
</html>
