<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Vue</title>
</head>

<body>
    <div id="app">       
      <input type="text" v-model="nama" required="">
      <button onclick="vm.addName()">add</button>
        <ul>
            <li v-for="users in users">
              {{ users.name }}
            </li>
          </ul>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script>
        var vm = new Vue({
        el: '#app',
        data: {
            users: [
            { 'name': 'Muhammad Iqbal Mubarok' },
            { 'name': 'Ruby Purwanti' },
            { 'name': 'Faqih Muhammad' }
            ],
            nama: ' ',
        },
        methods: {
            addName: function () {
                
                this.users['name'].push(this.nama)
                this.nama=''
                // return users = {'name':[isi]}
                // arr['name'].push(nama);
                
            },
            
          }
        })
    </script>
  </body>
</html>