<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app1">
       
       <blog-component 
       v-for="blog in blogs" 
       :blog="blog" 
       >
       </blog-component> 
       
       
    </div>

    

    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
    
    <script>

        var BlogComponent = {
            template : `
                <div>
                <h1>{{ blog.title }}</h1>
                <p>{{ blog.content }}</p>
                </div>
                `,
                
            data() {
                return{
                    pesan : 'Ini dari Component Blog'
                }
            },
            props : ['blog' , 'content']

        }
       
        const vm = new Vue({
            el: '#app1',
            components : {
                'blog-component' : BlogComponent    
            },
            data : {
                blogs : [
                    {
                        title : 'Ini judul 1',
                        content: 'Ini konten 1'
                    },
                    {
                        title : 'Ini judul 2',
                        content: 'Ini konten 2'
                    }
                ]
            }
        })

        
    </script>
</body>
</html>